/*Tile size classes (choosing by Select tag)
==============*/
.smallTile,
.mediumTile,
.largeTile {
  display: block; /*For tests*/
  margin: 7px auto;
  border-radius: 5px;
}

.smallTile {
  height: 100px;
}

.mediumTile {
  height: 150px;
}

.largeTile {
  height: 150px;
}

/*Tile formats*/
.narrowTile {
  width: 25%;
}

.normalTile {
  width: 50%;
}

.wideTile {
  width: 100%;
}

/* Game buttons
========================*/
.game-button {
  height: 100px;
  width: 200px;
  margin: 20px auto;
  background-color: #fc3a51;
  font-size: 30px;
  font-weight: 600;
  color: white;
  border: 0;
  border-radius: 4px;

  outline: none;
  cursor: pointer;
}

.game-button:hover {
  background-color: #7a1fef;

  transition: background 0.2s linear;
}

#commitBtn,
#rememberedBtn {
  display: none;
}

#saveLocalSettings {
  display: none;
}

.rightAnswer {
  border: 5px solid green;
}

.wrongAnswer {
  border: 5px solid red;
}

label {
  display: block;
}

.sortable {
  border: 3px dashed black;
}
