/*Tile size classes (choosing by Select tag)
==============*/
.smallTile,
.mediumTile,
.largeTile {
  margin: 5px auto;
  border-radius: 3px;
}

.smallTile {
  /* display: inline-block; */
  display: block; /*For tests*/
  height: 100px;
  width: 100px;
}

.mediumTile {
  display: block;
  height: 150px;
  /* width: 150px; */
  width: 100%;
  box-shadow: 20px black;
}

.largeTile {
  display: inline-block;
  height: 150px;
  width: 150px;
}

/* Game buttons
========================*/
.game-button {
  height: 100px;
  width: 200px;
  margin: 20px auto;

  background-color: #fc3a51;
  font-size: 30px;
  font-weight: 600;
  color: white;
  border: 0;
  border-radius: 4px;

  outline: none;
  cursor: pointer;
}

.game-button:hover {
  background-color: #7a1fef;

  transition: background 0.2s linear;
}

#commitBtn,
#rememberedBtn {
  display: none;
}

#saveLocalSettings {
  display: none;
}
