#playground {
  width: 100%;
  height: 200px;
  font-size: 80px;
  color: brown;
}

#userAnswer {
  height: 60px;
  width: 250px;
  margin: 0 auto;

  visibility: hidden;
  display: block;

  text-align: center;
  font-size: 45px;
}

.game-button {
  height: 100px;
  width: 200px;
  margin: 20px auto;

  background-color: #fd3d5e;
  font-size: 30px;
  font-weight: 600;
  color: white;
  border: 0;

  cursor: pointer;
}

.game-button:hover {
  background-color: #9005e6;

  transition: background 0.2s linear;
}

#commitBtn,
#nextBtn {
  display: none;
}

/*Additional elements
=====================*/
#backToFullMode {
  color: black;
  font-size: 15px;
  text-align: center;
  position: absolute;
  margin-bottom: 0px;
  display: inline-block;

  position: absolute;
  top: 100vh;
  transform: translateY(-100%);
  width: 100%;

  cursor: pointer;

  visibility: hidden;
}

#backToFullMode:hover {
  cursor: pointer;
  text-decoration: underline;
}

/*Close buttons
===================*/
.closeWinBtn {
  display: block;
  height: 50px;
  width: 100px;
  margin: 20px auto;

  border: 0;
  border-radius: 5px;

  font-size: 16px;
}

.closeWinBtn:hover {
  background-color: #9005e6;

  transition: background 0.2s linear;

  cursor: pointer;
}

#settingsTable {
  font-size: 18px;
}
